v\:* { behavior: url(#default#VML);} o\:* { behavior: url(#default#VML);}
body {
	margin:0px;
	padding:0px;
	font-size:12px;
	text-align:left
}

.pBlack {
	font-weight:bold;
	font-size:12px;
}

.pRed {
	font-weight:bold;
	font-size:12px;
	color:#FF0000;
}

/*横坐标轴样式*/
.pMonth {
	font-size:66px;
	font-family:"黑体";
	color:#CCCCCC;
	letter-spacing: 3px;
}

/*提示信息样式*/
.ToolTip {
	padding:4px;
	margin:4px;
	background-color: #CCCCCC;
	border: 1px solid #0066FF;
	text-align:left;
}

/*标题显示样式*/
.TitleOfCorp {
	font-family:"宋体", "华文仿宋";
	font-size:16px;
	text-align:center;
	font-weight:bold;
	color:#996600;
	vertical-align:middle;
}

.curveBody{
	margin:0;
	padding:0;
	height:20px;
	font-size:12px;
}

.curveForm{
	margin:0;
	padding:0;
	height:20px;
	font-size:12px;
}
