<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MinZuYaoConnectionString" connectionString="Data Source=.;Initial Catalog=MinZuYao;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CopyrightName" value="民族药协同创新中心"/>
    <!--化学分子式允许上传的产品图片类型-->
    <add key="CMPictureAllowExtension" value=".gif,.jpg,.bmp,.png"/>
    <!--化学分子式中允许上传的产品图片大小5000KB-->
    <!--代码管理器的登录密码是ph4.-->
    <add key="CMPictureMaxLength" value="5120000"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
